/* ====================== google fonts ====================== */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600&family=Poppins:wght@300;400;600;700;800&display=swap");
/* 
font-family: '', sans-serif;
font-family: '
*/
/* ====================== End of google fonts ====================== */
/* ====================== root variables declaration ====================== */
:root {
  /* Colors */
  /* font size */
  /* Font family */
  --f-heading: Poppins, sans-serif;
  --f-text: DM Sans, sans-serif;
  /* Font weight */
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;
  /* Spacing */
}
/* ====================== End of root variables declaration ====================== */
/* ====================== Default style ====================== */
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img,
svg {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--f-heading);
}
p,
samp,
input {
  font-family: var(--f-text);
}
/* ====================== End of Default style ====================== */
